{
  "app_name": "MyDomoAtHome",
   "auth": null,
   "domoticz": {
        "ssl": false,
        "host": "127.0.0.1",
        "port": "8080",
	"path": "/",
   	"auth": null,
   },
  "port": 3002,
  "passcode": ""
}
