Package: MyDomoAtHome
Version: 0.0.12
Section: base
Priority: optional
Architecture: all
Installed-Size: SIZE
Depends: nodejs (>= 10.0.0), npm (>= 1.4.21)
Maintainer: Emmanuel PIERRE <epierre@e-nef.com>
Description: Node MyDomoAtHome! The installable NodeJS System Service for Imperihome ISS to Domoticz gateway
 Let's you install a nodejs app as a service, just to see how it feels.
