Package: MyDomoAtHome
Version: 0.1.12
Section: base
Priority: extra
Provides: MyDomoAtHome
Replaces: MyDomoAtHome
Architecture: all
Homepage: https://github.com/empierre/MyDomoAtHome
Installed-Size: SIZE
Depends: nodejs (>= 3.3.0)
Maintainer: Emmanuel PIERRE <epierre@e-nef.com>
Description: Node MyDomoAtHome Gateway between Imperihome ISS and Domoticz.
