.Idea
node_modules
*.secret.*
gen
grunt
src
Gruntfile.coffee
libs
api
packaging
binary
gulp
cliff
jslint
assert
chai
grunt
grunt-express-server
grunt-simple-mocha
gulp
gulp-jshint
istanbul
jshint
json-loader
mocha
should
superagent
webpack
xunit-file
binary-old/**/*
git-release.sh
